h2,h3{
  color: #11170A ;
}
p{
  color: #D5E7C2;
}
body{
  background-image: url(../images/background.jpg);
  background-size: cover;
}
h3.about{
  font-weight: bold;
  font-family: cursive;
  color: #1C2610;
}
p.about{
  font-size: 12px;
  font-family: cursive;
  font-style: normal;
  font-weight: normal;
}
.projects{
  float: left;
  text-align: left;
}
.crop2{
  float: right;
  width: 500px;
  height: 500px;
  overflow:hidden;
}
.crop2 img{
  width: 680px;
  height: 500px;
  margin: -150px 0 0 -150px;
}
.crop{
  float: left;
  width: 500px;
  height: 500px;
  overflow: hidden;
}
.crop img{
  width: 680px;
  height: 500px;
  margin: -150px 0 0 -150px;
}
